.modal__container {
    position: absolute; 
    width: 100%;
    height: 100%;
    z-index: 888;
    background-color: #58585880;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal__header{
    width: 100%;
}
.modal__content{
    background-color: white;
    width: 600px;
    height: 500px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 5px 15px;
}

.modal__element{
    width: 300px;
    padding: 5px;
    display: flex;
    flex-direction: column;
}


.modal__element p{
    margin: 0;
}


.modal__element_input{
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 16px;
    border-bottom: 1px solid grey;
    font-weight: bolder;
}

.modal__element_label{
    font-size: 14px;
}

.modal__element--star {
    flex-direction: row;
    cursor: pointer;
}

.modal_close_button{
    float:right;
    margin-top:-35px
}

.display-n{
    display: none;
}

.modal__element_text_area{
    background-color: transparent;
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 15px;
    border-bottom: 1px solid grey;
    resize: none;
    font-weight: bolder;
}