.snackbar__content{
    position: fixed;
    bottom: 0;
    
    margin: 5px;
    padding: 5px 15px;
    border-radius: 5px;

    background: #333333e0;
    color: white;

    display: flex;
    justify-content: space-between;

    width: 20%;
    min-height: 50px;

    animation: fadein 0.5s;
}


@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.snackbar_button{
    background: transparent;
    border-radius: 2px;
    color: white;
    cursor: pointer;
    font-size: 15px;
    border-color: #DD6031;
}